/* TODO:
-Utility button static
-Animation button & img hover
-bkg-color class */
/* -------------------------------------- */

.jumbotron{
    background:#000 url('../img/jumbo-bg.png') no-repeat 50% 0;
    background-size: cover;
    height: 600px;
    color: white;
}

.active::before{
    border-bottom: 2px solid #0072ce;
}

/* ----START IMAGES RESIZE---- */
.sony-logo{
    height: 25px;
    display: block;
    margin-left: auto;
}

.jumbotron img{
    width: 50%;
}

.game-preview img{
    border-radius: 25px;
}

.play-5-slide.d-none.d-md-block img{
    width: 60%;
}
/* ----END IMAGES SIZE---- */
/* ----START BACKGROUND COLOR CLASS---- */
.bkg-black{
    background-color: black;
}
/* ----END BACKGROUND COLOR CLASS---- */

/* ----DEBUG---- */
.big-box{
    height: 2000px;
    background-color: cadetblue;
}

.mybg{
    background-color: rgba(255, 255, 255, 0.3);
    border:1px solid black
}