.jumbotron{
    background: url('../img/jumbo-bg.png') no-repeat 50% 0;
    height: 600px;
}

.jumbotron,
.info-game{
    background-size: cover;
}

.jumbotron,
.info-game,
.new-game-list,
.play-now,
footer,
footer a:link, 
footer a:visited,
.btn{
    color: white;
}

.dropdown {
    position: static !important;
}
  
.dropdown-menu {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
    margin-top: 0px !important;
    width: 100% !important;
}

.dropdown-menu.show{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.dropdown-menu.show a:link,.dropdown-menu.show a:visited{
    text-decoration: none;
}

.dropdown-menu.show a:hover{
    background-color: #0072ce;
    color: white;
}

ul.dropdown-menu.show li.li-style{
    list-style: inside;
    color: #0072ce;
}

.nav-arrow::after{
    height: 20px;
    width: 10px;
    margin-left:12px;
    content: url('../img/chevron-down-solid.svg');
}

.nav-item:hover .nav-arrow::after{
    content: url('../img/chevron-down-solid-hover.svg');
}

a.nav-link.nav-arrow:hover{
    color: #0072ce !important;
}

.thumb{
    text-align: center;
    opacity:.4;
    height: 100%;
}

.thumb:hover{
    opacity: 1;
    transition: all 1s;
}

.game-preview img:hover{
    margin-top:-12px;
    transition: all .5s;
}

.active-line{
    border-bottom: 2px solid #0072ce;
    opacity:1;
}

.active-border{
    outline: 3px solid #0072ce;
    outline-offset: 4px;
}

.motto{
    text-transform: uppercase;
    color: #0072ce;
}

.play-5 p:not(.play-5-slide p),
.play-4 p,
.discount p{
    color:#797979
}

.info-game{
    background: url('../img/it-takes-two-hero-banner-desktop.jpg') no-repeat 50% 0;
}


.ps-logo::after{
    height: 20px;
    position: absolute;
    content: '\00AE';
    left:170px;
    bottom:40px;
}

footer ul{
    list-style: none;
}

footer a{
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color:gold;
}
/* ----START IMAGES RESIZE AND OTHER---- */
.sony-logo{
    height: 25px;
    display: block;
    margin-left: auto;
}

.nav-arrow::after img{
    width: 100%;
}
.search{
    height: 20px;
}

.game-preview img, .new-game-list img{
    border-radius: 25px;
}

.jumbotron img,
.info-game img,
.play-5 img,
.play-4 img,
.play-plus-logo,
.play-now-logo{
    max-width: 60%;
}

.play-5-slide.d-none.d-md-block img,
.play-4 img{
    display: block;
    margin: 0 auto;
}

.language img{
    height: 30px;
}

.sie-logo{
    width:200px;
}

.ps-logo > svg.shared-nav-ps-logo{
    width:200px;
    height:200px;
}

.ps-logo > svg.shared-nav-ps-logo path{
    fill: white;
}
/* ----END IMAGES RESIZE AND OTHER---- */
/* ----START BACKGROUND COLOR CLASS---- */
.bkg-black{
    background-color: black;
}

.bkg-darkgray{
    background-color: #1f1f1f;
}

.bkg-silver{
    background-color: silver;
}

.bkg-blue{
    background-color: #161c3b;
}

.bkg-lightblue{
    background-color: #00439c;
}
/* ----END BACKGROUND COLOR CLASS---- */
/* ----START BUTTON---- */
.btn.rounded-pill:not(.btn-gray){
    padding: 12px;
}

.btn.rounded-pill:not(.btn-white, .btn-pls){
    color: #FFF;
}

.btn.rounded-pill:not( .btn-white):hover{
    outline-offset: -6px;
    outline: 3px solid #161c3b;
}

.btn.rounded-pill:hover{
    transition: all .5s;
}

.btn.rounded-pill.btn-white:hover{
    box-shadow: 2px 2px 2px 2px rgba(85, 77, 77, 0.5);
    color: #00439c;
}

.btn.rounded-pill.btn-white:hover{
    color: #00439c;
}

.btn-gray{
    background-color: #333;
}

.btn-orange{
    background-color: orangered;
}

.btn-lightblue{
    background-color: #0072ce;
}

.btn-white,
.btn-pls{
    background-color: #FFF;
    color:#161c3b;
}

/* ----END BUTTON---- */