/* TODO:
-Utility button static
-Animation button & img hover
-bkg-color class */
/* -------------------------------------- */

.jumbotron{
    background: url('../img/jumbo-bg.png') no-repeat 50% 0;
    background-size: cover;
    height: 600px;
    color: white;
}

.thumb{
    text-align: center;
    opacity:.5;
    height: 100%;
}

.active{
    border-bottom: 2px solid #0072ce;
    opacity:1;
}

.info-game{
    background: url('../img/it-takes-two-hero-banner-desktop.jpg') no-repeat 50% 0;
    background-size: cover;
    color: white;
}

.new-game-list{
    color: white;
}

.play-now{
    color: white;
}


/* ----START IMAGES RESIZE---- */
.sony-logo{
    height: 25px;
    display: block;
    margin-left: auto;
}

.game-preview img, .new-game-list img{
    border-radius: 25px;
}

.jumbotron img,
.info-game img,
.play-5-slide.d-none.d-md-block img,
.play-4 img,
.play-plus-logo,
.play-now-logo{
    width: 60%;
}

.play-5-slide.d-none.d-md-block img,
.play-4 img{
    display: block;
    margin: 0 auto;
}
/* ----END IMAGES SIZE---- */
/* ----START BACKGROUND COLOR CLASS---- */
.bkg-black{
    background-color: black;
}

.bkg-darkgray{
    background-color: #1f1f1f;
}

.bkg-silver{
    background-color: silver;
}

.bkg-blue{
    background-color: #161c3b;
}
/* ----END BACKGROUND COLOR CLASS---- */
