img/.DS_Store
screenshots/screenshot_pLaystation_replica-lg_xxl.png
screenshots/screenshot_pLaystation_replica-md.png
screenshots/screenshot_pLaystation_replica-sm.png
screenshots/screenshot_pLaystation_replica-xs.png
